/*============================
		General Style
==============================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    color: #666;
    background: #fff;
    overflow-x: hidden;
    font-weight: 300;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

img {
    max-width: 100%;
    height: auto;
}

/*============================
		Typography
==============================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

a {
    text-decoration: none !important;
    color: #343536;
}

a:focus {
    outline: 0 solid
}

a:hover {
    text-decoration: none
}

p {
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #888;
    line-height: 24px;
    font-weight: 400;
    left: -1px;
    margin-top: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*============================
		Custom CSS
==============================*/
.flyer {
    padding: 25px;
    border: 2px solid #efefef;
    margin: 20px;
}

.flyer-top {
    background: url(assets/images/bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 50px;
    display: block;

}

.title {
    background: url(assets/images/bg-2.png) no-repeat;
    background-size: 100% 100%;
    background-position: bottom center;
    display: inline-block;
    margin-left: -50px;
    position: relative;
    z-index: 9999;
    margin-bottom: 25px;
}

.title h3 {
    color: #fff;
    margin: 0;
    padding: 10px;
    padding-right: 35px;
    padding-left: 50px;
    font-size: 25px;
    letter-spacing: 2px;
}

.flyer-top h2 {
    color: red;
    font-size: 35px;
    font-weight: 900;
    line-height: 1.2;
}


.flyer-top h2 span {
    font-weight: 600;
    margin-top: 200px;
    display: inline-block
}

.flyer-top h4 {
    font-size: 35px;
    font-weight: 900;
    color: #223868;
}

.flyer-middle {
    padding-top: 30px;
    padding-left: 75px;
}

.flyer-middle img {
    height: 50px;
    width: 50px;
    margin-top: -10px;
}

.flyer-middle a {
    font-size: 20px;
    clear: both;
}

.flyer-middle span {
    color: red;
}
.flyer-middle li:nth-child(2) a{
    position: relative;
}
.star {
    float: left;
    clear: both;
    position: absolute;
    top: 0;
    right: -130px;
}
.star li {
    display: inline-block;
    color: red;
}
.flyer-footer {
    background: #efefef;
    padding: 20px 30px;
    margin-top: 30px;
    padding-top: 0;
}
.flyer-footer li {
    display: inline-block;
}
.flyer-footer h2 {
    font-size: 32px;
    font-weight: 100;
    padding-right: 25px;
}
.footer-last i {
    padding-right: 5px;
    color: red;
}
.footer-last li {
    padding-right: 15px;
    font-size: 16px;
    font-weight: 600;
}
.footer-bottom {
    background: url(assets/images/bottom-bg.jpg) no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 100%;
        
}